<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!--  Favicon  -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/Favicon.png') }}">

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
          crossorigin="anonymous">

    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">

    <!-- Icons -->
    <script src="https://kit.fontawesome.com/feca35e4cf.js" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/uicons-solid-straight/css/uicons-solid-straight.css'>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

    <!-- Custom fonts for this template -->
    <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet"
          type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&family=Comfortaa:wght@600&family=Fredoka+One&family=Indie+Flower&family=Josefin+Sans:wght@300&family=Jua&family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Otomanopee+One&family=Patrick+Hand&family=Quicksand:wght@600&display=swap&family=Indie+Flower&display=swap&family=Cabin+Sketch&family=Just+Another+Hand&family=Varela+Round&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sacramento&display=swap" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/clean-blog.min.css')}}" rel="stylesheet">

    <style>
		body,
		html {
			scroll-behavior: smooth;
			scrollbar-width: none;
		}

		* {
			user-select: none;
		}

		::-webkit-scrollbar {
			width: none;
		}

    </style>

</head>

<body>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav"
     style="backdrop-filter: saturate(180%) blur(5px); background-color: rgba(33, 37, 41, 0.4);">
    <div class="container">
        <a class="navbar-brand" href="/"
           style="font-family: 'Sacramento', cursive; user-select: none; font-size: 1.5rem;">Cooli</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarRespon sive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/" style="font-family: 'Josefin Sans', sans-serif; user-select: none;"><i
                            style="font-size: 0.75rem;" class="fi fi-rr-home"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/blog"
                       style="font-family: 'Josefin Sans', sans-serif; user-select: none;"><i
                            style="font-size: 0.75rem;" class="fi fi-rr-book-alt"></i> Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about"
                       style="font-family: 'Josefin Sans', sans-serif; user-select: none;"><i
                            style="font-size: 0.75rem;" class="fi fi-rr-user"></i> About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about#feedback"
                       style="font-family: 'Josefin Sans', sans-serif; user-select: none;"><i
                            style="font-size: 0.75rem;" class="fi fi-rr-check"></i> Feedback</a>
                </li>
            </ul>
        </div>
    </div>
</nav>